.addPin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    margin-bottom: 16px;
}

.button {
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    padding: 4px 7px;
    cursor: pointer;
    box-shadow: 0 0 0 2px var( --shadow );
    display: flex;
    align-items: center;
}

.button:active {
    box-shadow: 0 0 0 #7770;
    transform: translateY( 1px );
}

.buttons {
    display: flex;
    gap: 8px;
    justify-content: right;
    padding: 8px 8px 0 0;
}

.container {
    position: relative;
    width: 300px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.empty {
    opacity: 0.5;
    text-align: center;
    user-select: none;
    overflow: hidden;
    min-height: 0;
    height: 100%;
}
