.button {
    transition: transform 0.2s ease-in-out;
}

:not( *:focus-within ) + .button[ data-noQuery="true"] {
    transform: translateX( 32px );
}

.container {
    position: sticky;
    z-index: 1;
    width: 100%;
    bottom: 0;
    --radius: 0;
}

.content {
    line-height: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 4px;
    gap: 4px;
}


.input {
    min-width: 0;
    background-color: transparent;
    border: none;
}
