@import "pretendard/dist/web/static/pretendard-dynamic-subset.css";

:root {
    --focus: #5e8cc5;
    --red: #c40233;
    --yellow: #ffd300;
    --gold: #9d938f;
    --shadow: #77777740;
    --text: #000;
    --background: #fff;
}

* {
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-feature-settings: "cv05", "kern", "calt", "ccmp", "frac";
    font-family: "Pretendard";
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-size: 18px;
    line-height: calc( 24em / 18 );
    margin: 0;
    width: 650px;
    background-color: var( --background );
}

input, textarea {
    background-color: transparent;
}

svg {
    flex-shrink: 0;
}

.react-calendar {
    border: calc( 2em / 18 ) solid var( --shadow );
}

abbr[title] {
    text-decoration: none;
}
