.actions {
    position: sticky;
    top: 0;
}

.container:hover {
    overflow-anchor: auto;
}

.container:not( :hover ) {
    overflow-anchor: none;
}

.container:not( :hover ) .actions {
    opacity: 0;
}

.header {
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    justify-content: center;
    align-items: start;
}

.favicon {
    position: sticky;
    top: 0;
    transform: scale( 0.5 );
}

.screenshot {
    min-width: 0;
    width: 100%;
}
