.container {
    background-color: #eee;
    padding: calc( 24em / 18 );
    display: flex;
    flex-direction: column;
    gap: calc( 12em / 18 );
}

.header {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
}

.footer {
    text-align: center;
}

.body, .info {
    color: #777;
}

.info {
    display: flex;
    gap: 0.5em;
}

.info > * {
    display: flex;
    white-space: nowrap;
}

.title {
    font-weight: bold;
}

.shrinkable {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.url {
    text-decoration: underline;
    text-decoration-color: #7774;
    color: var( --focus );
}

.url:hover {
    text-decoration-color: var( --focus );
}
