@font-face {
    font-family: "Linotte";
    src: url( "./linotte.woff2" );
}

.body {
    text-align: justify;
}

.bold {
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: calc( 8em / 18 );
    justify-self: right;
}

.container {
    background-color: #77777718;
    padding: calc( 24em / 18 );
    display: flex;
    flex-direction: column;
    gap: calc( 16em / 18 );
}

.favicon {
    height: calc( 20em / 18 );
    border-radius: calc( 4em / 18 );
    margin: calc( 2em / 18 );
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc( 16em / 18);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
}

.body, .info, .order {
    color: #888;
}

.info {
    display: flex;
    gap: 0.5em;
}

.info > * {
    display: flex;
    white-space: nowrap;
}

.logo {
    color: #4293a2;
    opacity: 0.8;
}

.quote {
    border-radius: calc( 8em / 18 );
    border: calc( 2em / 18 ) solid var( --shadow );
    padding: calc( 2em / 18 );
    display: inline-block;
}

.shrinkable {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wordmark {
    display: flex;
    justify-content: center;
    font-size: 2em;
    align-items: center;
    color: var( --gold );
    opacity: 0.8;
    user-select: none;
}

.wordmark {
    font-family: "Linotte";
}

.wordmark svg {
    height: 1.8em;
    padding-bottom: 0.3em;
}
