.container {
    padding: calc( 4em / 18 );
    width: max-content;
    border: solid calc( 2em / 18 ) var( --shadow );
    border-radius: calc( 4em / 18 );
    padding: calc( 4em / 18 ) calc( 8em / 18 );
    background-color: var( --background );
    box-shadow: 0 0 1em var( --shadow );
}
