.minutes, .seconds {
    animation: infinite tick;
}

.minutes {
    animation-duration: 144s;
    animation-delay: 6s;
    position: absolute;
    animation-timing-function: cubic-bezier( 1, 0, 0, 1 );
}

.seconds {
    animation-duration: 12s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier( .75, 0, .33, 1.33 );
}

@keyframes tick {
    0% {
        transform: rotateZ( 0deg );
    }
    8.33% {
        transform: rotateZ( 30deg );
    }
    16.67% {
        transform: rotateZ( 60deg );
    }
    25% {
        transform: rotateZ( 90deg );
    }
    33.33% {
        transform: rotateZ( 120deg );
    }
    41.67% {
        transform: rotateZ( 150deg );
    }
    50% {
        transform: rotateZ( 180deg );
    }
    58.33% {
        transform: rotateZ( 210deg );
    }
    66.67% {
        transform: rotateZ( 240deg );
    }
    75% {
        transform: rotateZ( 270deg );
    }
    83.33% {
        transform: rotateZ( 300deg );
    }
    91.67% {
        transform: rotateZ( 330deg );
    }
    100% {
        transform: rotateZ( 360deg );
    }
}
