.container {
    transition: transform 0.2s ease-in-out;
}

.container:active {
    transform: translateY( 2px );
}

.container > * {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 0 var( --shadow );
}

.prefix {
    display: inline;
}

.prefix > svg {
    height: calc( 2em / 3 );
    transform: scale( 2 );
}

.text {
    color: var( --focus );
    display: inline;
    word-break: break-all;
}

.container:hover > * {
    box-shadow: 0 2px 0 var( --focus );
}


.container:active > * {
    box-shadow: 0 0px 0 var( --shadow );
}
