.actions {
    position: sticky;
    top: 0;
}

.actions > * {
    cursor: pointer;
}

.actions > *:first-child {
    margin-top: -6.3px;
}

.actions > *:nth-child( n + 2 ) {
    transition: transform 0.2s ease-in-out;
}

.actions > *:nth-child( n + 2 ):active {
    transform: scale( 0.9 );
}

.actions > *:nth-child( 3 ) > * {
    transition: opacity 0.2s ease-in-out;
    position: absolute;
}

.container {
    padding-top: 4px;
}

.container:not( :hover ) .actions > *:nth-child( n + 2 ) {
    opacity: 0;
}

.description {
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.favicon {
    position: sticky;
    top: 0;
    text-align: center;
}

.favicon > *:nth-child( 2 ) {
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
}

.favicon > *:nth-child( 2 ):active {
    transform: scale( 0.9 );
    text-align: center;
}

.favicon > *:nth-child( 2 ) > * {
    transition: opacity 0.2s ease-in-out, rotate 0.2s ease-in-out;
    position: absolute;
}

.header {
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    justify-content: center;
    align-items: start;
}

.screenshot {
    min-width: 0;
    width: 100%;
    margin-bottom: -4px;
}

.snippet {
    opacity: 0.5;
    padding: 4px 0;
}

.snippet > *:nth-child( 2 ) {
    font-weight: bold;
}

.snippet > *:nth-child( 1 )::after, .snippet > *:nth-child( 3 )::before {
    content: '...';
}
