.short {
    font-family: "Linotte", "Pretendard", "Twemoji";
}

.suggestion {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
}

.suggestion:hover {
    transform: translateX( 4px );
}

.suggestion:active {
    transform: translateX( 4px ) scale( 0.95 );
}

.suggestions {
    max-height: 84px;
    overflow-y: auto;
}

.tag {
    backdrop-filter: brightness( 1.4 );
    color: var( --text );
    display: inline-flex;
    border-radius: 4px;
    place-items: center;
    justify-content: center;
    padding-right: 1px;
    min-width: 24px;
    box-shadow: 0 0 2px #0002, 0 0 4px #0002;
    max-width: 100%;
}

.tagContent {
    white-space: nowrap !important;
    overflow: scroll;
    line-height: 24px;
}

.tagWrapper {
    max-width: 100%;
}
